* {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    overflow: hidden; /* Prevents the page from scrolling */
    margin: 0;
    height: 100%;
}

html, body {
    height: 100%;
}

footer { /* Sticky footer */
    bottom: 0;
    position: fixed; 
    bottom: 0;
    width: 100%;
    padding: 23px 50px; 
    text-align: center;
}

footer a {
    color: black;
}

#main-description {
    margin: 5%;
    line-height: 30px;
    text-transform: bold;
}

#main-page {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 3%;
  }

#styled-button {
    padding: 10px 30px;
    margin-top: 5%;
    background-color: gray;
    color: white;
    font-size: 18px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out; /* Styles the button with a transition */
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#answer-choices button {
    display: block;
    margin: auto;
    margin-bottom: 2%;
    padding: 10px 20px;
    background-color: gray;
    color: white;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#answer-choices p {
    text-align: center;
    font-size: 20px;
}

#submitInitialsButton {
    margin-left: 1%;
    background-color: gray;
    color: white;
    font-size: 22px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#clearButton {
    display: block;
    margin: auto;
    margin-top: 3%;
    font-size: 20px;
    background-color: gray;
    color: white;
    padding: 10px 20px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#input-text {
    margin-top: 5%;
    max-width: 20%;
}

.title {  /* Main page title */
    font-size: 40px;
    letter-spacing: 0.1em;
    color: pink;
}

.high-scores-title {
    text-align: center;
    margin-top: 12%;
    font-size: 35px;
    letter-spacing: .2em;
    margin-bottom: 10%;
}

.results-title {
    font-size: 22px;
    line-height: 50px;
}

.high-scores li { /* Initials and scores */
    margin: 3%;
    font-size: 20px;
}

.time {
    width: 30%; margin: 0px auto;
}

.sidenav li {
    margin: 10%;
}

.back-text {
    color: black;
    padding: 2%;

}

#answer-choices button:hover, /* Changes color on hover for these buttons and a tags */
#styled-button:hover,
#submitInitialsButton:hover,
#clearButton:hover {
    background-color: #ffffff;
    color: pink;
    border-color: pink;
}

     
@media only screen and (max-width: 355px) { /* Hides the nav title on smaller screens */
    .quiz-title {
        display: none;
    }
}


